/* .header{
    background: url('../styles/images/banner/banner3.png');
} */
.header{
    background-image: url("../styles/images/banner/banner3.png");
    width: 1600px;
    height: 808px;
    flex-shrink: 0;
}

.header-content{
    text-align: right;
    padding: 216px 230px 364px 845px;
}
.header-starting{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    font-family: "Work Sans";
    margin-bottom: 24px;
    
}
.header-description{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.btn-primary{
    border-radius: 5px;
    background: #FFF;
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 600;
}

.banner{
    display: flex;
    align-items: center;
    /* width: 1600px;
    height: 3229px; */
    padding: 100px 100px 320px 200px;
}
.banner-content{
    margin-left: 100px;
}
.banner-first{
    color:#151414;
    font-size: 40px;
    font-weight: 700;

}
.banner-description{
    color:#444343;
    font-size: 16px;
    font-weight: 400;
}
.banner-list{
    color:#444343;
    font-size: 16px;
    font-weight: 400;
}

/* section related styles */
.section-one{
    /* display: flex; */
    /* align-items: center; */
}

.section-title{
    /* align-items: center; */
    margin: 50px 700px;
    color: var(--Dark-01, #151414);
    text-align: center;
    font-family: "Work Sans";
    font-size: 40px;
    font-weight: 700;
}

.section-container{
    display: flex;
    justify-content: space-evenly;
}
.plans{
    text-align: center;
}
.plans-head{
    color: var(--Dark-01, #151414);
    font-family: "Work Sans";
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

.plans-para{
    color: var(--Dark-03, #737272);
    font-family: "Work Sans";
    font-size: 25px;
    font-weight: 500;
}

.section-two{
    background-image: url('../styles/images/watch.png');
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    margin: 130px 230px;
}

.section-two-content{
    padding-left: 64px;
}

.section-two-head{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 40px;
    font-weight: 700;
    /* margin: 59px 650px 24px 64px; */
    /* padding: 59px 650px 10px 64px; */
    padding-top: 59px;
}

/* footer related style */

.footer{
    width: 1600px;
    height: 577px;
    background: #151414;
    display: flex;
}
.footer-left-content{
    /* color: #F8F8F8; */
    font-family: "Work Sans";
    margin: 130px auto 230px 130px;
}

.footer-left-header{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.footer-left-paragraph{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.footer-left-pone{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.footer-left-ptwo{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.footer-right-content{
    margin: 130px 230px 250px 330px;
    font-family: "Work Sans";
    /* gap: 2px; */
}
.footer-right-header{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #FFF;
}
.footer-right-text{
    margin-bottom: 15px;
    padding: 10px;
    width: 325px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #FFF;
}
.footer-right-button{
    width: 170.106px;
    height: 64px;
    border-radius: 8px;
    background: #005FAC;
    padding: 10px;
    color: #FFF;
}